<!-- <h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p> -->

<div ng-controller="DreamsController">

    <form>
      <input ng-model="dream.topic" placeholder="Dream Topic">
      <input ng-model="dream.description" placeholder="Description">
      <input ng-model="dream.creator" placeholder="Created By?">
      <input name="dream.code" type="radio" id="test1" />
        <label for="true">Yes</label>
      <input name="dream.code" type="radio" id="test2" />
        <label for="false">No</label>
      <!-- <div class="input-field col s12" ng-model="dream.code">
        <select>
          <option value="" disabled selected>Choose your option</option>
          <option value="false">No</option>
          <option value="true">Yes</option>
        </select>
        <label>Does it involve code?</label>
      </div> -->
      <!-- <input type="checkbox" ng-model="dream.code" placeholder="Did it involve code?"> -->
      <input type="submit" ng-click="createDream(dream)" value="Save">
    </form>

    <span class="dream" ng-repeat="dream in dreams" ng-init="showDes=false">
      <div class="fatzy" ng-mouseover="showDes=true" ng-mouseleave="showDes=false">
        <h2>{{ dream.topic}}</h2>
        <!-- <p>Desciption: {{ dream.description }}</p> -->
        <div class="showDes" ng-show="showDes">{{dream.description}}</div>
        <p>Did it involve code? {{ dream.code }}</p>
        <p>Created by: {{ dream.creator }}</p>
        <p>Created at: {{dream.created_at }}</p>
        <button ng-click="deleteDream(dream)">
          Delete
        </button>
      </div>


  </span>

</div>
