<!-- <h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p> -->

<div ng-controller="DreamsController" class="page" >
    <div class="form-container top-section">
    <form name="createForm">
      <input ng-model="dream.topic" placeholder="Dream Topic" name="topic">
      <input ng-model="dream.description" placeholder="Description" name="description">
      <input ng-model="dream.creator" placeholder="Created By?" name="creator">
      <div class="row">
            <label>Did it involve code?</label>
               <input id="true" type="radio" ng-model="dream.code" value="true">
               <label for="true">Yes</label>
               <input id="false" type="radio" ng-model="dream.code" value="false">
               <label for="false">No</label>
       </div>
      <input type="button" class="btn" ng-click="createDream(dream)" value="Save">
    </form>
    <hr>
    <hr>
  </div>

    <div class="div-box">
    <span class="dream" ng-repeat="dream in dreams">
      <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
      	<div class="flipper">
          <div ng-class="dream.code ? 'code-front' : 'dream-front'">
          <!-- <div class="dream-front" > -->
            <h4>{{ dream.topic}}</h4>
            <p>Created by: {{ dream.creator }}</p>
            <!-- <p>Did it involve code? {{ dream.code }}</p> -->
            <p>{{dream.created_at | date:'yyyy-MM-dd'}}</p>
          </div>
          <div class="dream-back" >
            <h5>Dreaming about...</h5>
            <p>{{dream.description}}</div>
          </div>
          <button class="btn deletebtn" ng-click="deleteDream(dream)">
            Delete
          </button>
        </div>
  </span>
    </div>
</div>
