<!DOCTYPE html>
<html ng-app="Dream-App">
<head>
  <title>Dreams</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class = "dream-header top-section">
  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="864px" height="500px" viewBox="0 0 864 500" enable-background="new 0 0 864 500" xml:space="preserve">
   <g>
	    <g>
		  <path fill="#FFFFFF" d="M629.2,486.138H172.693c-0.404,0-0.808-0.013-1.215-0.039C125.55,483.399,38.704,451.231,38.704,348.81
			c0-103.372,57.418-176.088,154.569-197.377c7.291-51.429,47.128-129.441,162.774-142.973C359.632,7.762,370.129,6,384.97,6
			c30.396,0,85.874,7.715,132.156,56.546c17.208-7.932,37.715-12.187,59.469-12.187c37.257,0,73.883,12.746,100.48,34.973
			c20.575,17.19,44.761,47.813,48.849,98.35c43.844,16.293,76.188,46.812,91.914,87.127c17.886,45.864,11.603,97.515-17.696,145.442
			C757.42,486.138,670.816,486.138,629.2,486.138z M173.38,444.734H629.2c36.697,0,105.014,0,135.619-50.071
			c22.393-36.637,27.52-75.277,14.447-108.805c-12.601-32.286-40.692-56.112-79.122-67.089
			c-8.889-2.541-15.014-10.665-15.014-19.906c0-84.544-68.222-107.103-108.536-107.103c-20.44,0-39.423,5.122-52.07,14.05
			c-8.99,6.342-21.35,4.548-28.169-4.06c-35.564-44.92-80.201-54.35-111.385-54.35c-12.871,0-21.194,1.731-21.276,1.749
			c-0.648,0.138-1.402,0.266-2.054,0.34C235.948,63.77,233.427,164.687,233.379,168.976c-0.108,10.134-7.534,18.811-17.545,20.35
			C165.146,197.132,80.106,228.23,80.106,348.81C80.106,435.682,165.031,444.121,173.38,444.734z"/>
	   </g>
   </g>
 </svg>
 <h3>DREAM JOURNAL</h3>
</div>
  <%= yield %>

</body>
</html>
